<div class="row">

  <div class="col-md-6">

    <h1> Sign In </h1>
    <br>
    <%= form_tag(login_path) do %>
    <%= label_tag :email %><br>
    <%= text_field_tag :email, '', size: 60 %><br>
    <%= label_tag :password %><br>
    <%= password_field_tag :password, '', size: 60 %><br><br>
    <%= submit_tag "Sign In", class: "button"%>

    <% end %>

  </div>

  <div class="col-md-6">
    <%= image_tag "kid.jpg", size: "456x684" %>
  </div>

</div>
