  <hr class="my-4">
  <%= form_for (@guide) do |f| %>

  <div class="col-md-6">
    <%= f.label :title %><br>
    <%= f.text_field :title, size: "60%" %><br><br>
    <%= f.label :destination_location, "Destination (Select or type the location)" %><br>
    <%= f.text_field :destination_location, size: "60%", list: "destinations_autocomplete" %><br>

    <datalist id="destinations_autocomplete">
      <% Destination.all.each do |destination| %>
      <option value="<%= destination.location %>">
        <% end %>
      </datalist><br><br>

      <%= f.label :image, "Add an image" %><br>
      <%= f.file_field :image %><br>
      <%= f.label :summary %><br>
      <%= f.text_area :summary, size: "59x4" %><br><br>
      <%= f.label :airport %><br>
      <%= f.text_field :airport, size: "60%" %><br><br>
      <%= f.label :lodging %><br>
      <%= f.text_field :lodging, size: "59x4" %><br><br>

    </div>

    <div class="col-md-6">
      <%= f.label "Restaurants" %><br>
      <%= f.text_field :restaurant, size: "60%" %><br><br>
      <%= f.label "Parks" %><br>
      <%= f.text_field :park, size: "60%" %><br><br>
      <%= f.label "Zoos" %><br>
      <%= f.text_field :zoo, size: "60%" %><br><br>

      <p> Available Nearby? </p>
      <%= f.label :baby_gear_rental %><br>
      <%= f.radio_button :baby_gear_rental, "Yes" %> Yes <%= f.radio_button :baby_gear_rental, "No" %> No<br><br>
      <%= f.label :luggage_storage %><br>
      <%= f.radio_button :luggage_storage, "Yes" %> Yes <%= f.radio_button :luggage_storage, "No" %> No<br><br>
      <%= f.label :itinerary %><br>
      <%= f.text_area :itinerary, size: "59x4" %><br><br>
      <%= f.submit "Submit Guide", class: "button" %>

      <% end %>

    </div>
