<!DOCTYPE html>
<html>
  <head>
    <title>FamilyFriendlyTravelGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default">

      <div class="container">

        <div class="navbar-header">
          <%= link_to "Family Friendly Travel Guide", root_path, class: "navbar-brand" %>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <% if !logged_in? %>
            <li> <%= link_to "Sign Up", new_user_path %> </li>
            <li> <%= link_to "Sign In", login_path %> </li>
            <li> <%= link_to "Log In via Google", '/auth/google_oauth2' %> </li>
              <% else %>
              <li> <%= link_to "Logout", logout_path, method: :delete %> </li>
              <li> <%= link_to "New Guide", new_guide_path %> <li>
              <% end %>
        </ul>

        <ul class="nav navbar-nav">
          <li> <%= link_to "Rated Guides", rated_guides_path %> <li>

          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Destinations <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% Destination.all.each do |destination| %>
              <li>
                <%= link_to destination.location, destination_guides_path(destination) %>
              </li>
              <% end %>
            </ul>
              </li>
          </ul>


      </div>

    </nav>

    <%= flash[:message] if flash[:message]%>

      <div class="container"

    <%= yield %>

      </div>

  </body>
</html>
