<!DOCTYPE html>
<html>
  <head>
    <title>FamilyFriendlyTravelGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !logged_in? %>
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Sign In", login_path %>
    <% else %>
    <%= link_to "Logout", logout_path, method: :delete %>
    <%= link_to "New Guide", new_guide_path %>
    <% end %>

    <h1> Family-friendly Travel Guide </h1>
    <%= flash[:message] if flash[:message]%>

    <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
    <%= yield %>
  </body>
</html>
